html,
body {
    margin: 0;
    /* padding: 5px; */
    box-sizing: border-box;
}

header {
    margin: 2% 3%;
    text-align: center;
    height: fit-content;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 15px;
}

header img {
    width: 100%;
    height: 85%;
    padding: 0;
    margin: 0;
    border-radius: 15px;
}

.container {
    margin: 2% 3%;
}

.content {
    display: grid;
    margin: 2% 3%;
    grid-template-columns: 60% 40%;
    padding: 0;
}

section {
    padding: 0;
    margin: 0;
}

aside {
    background-color: rgb(62, 62, 62);
    color: whitesmoke;
    padding: 3rem;
    margin: 0 1rem;
    margin-right: 0;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.8);
    height: 700px;
    position: -webkit-sticky;
    position: sticky;
    top: 6px;
    border-radius: 15px;
    

}

/* FORM STYLES */

.right-box {
    background-color: rgb(255, 183, 40);
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    min-height: 0px;
    min-width: 0px;
    padding: 2.4rem;
    position: relative;
    z-index: 0;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.8);
    border-radius: 15px;
}

.posts {
    margin-top: 20px;
    margin: 0;
}

.form-box {
    padding: 2px;

}

.form-box-inputs {
    margin: 10px;

}

#post-context {
    margin-top: 15px;
}

.form-box-inputs input {
    height: 2.3rem;

}

.form-box-inputs input,
textarea {
    margin: 3px 0;
    width: 100%;
    padding: 8px;
    border: 3px solid black;
    border-radius: 8px;
}

/* #post-context:focus-visible {
    border: none !important;
    outline: none;
}

[type="text"]:focus-visible {
    border: none !important;
    outline: none;
} */

.form-box-inputs input:hover,
textarea:hover {
    border: 3px solid rgba(99, 81, 42, 0.733);
    transition-duration: 0.3s;
}

textarea {
    box-sizing: border-box;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

.form-box-btns {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 12px;
    padding: 0;
    margin: 0;
    margin-right: 10px;
}

.giphy-btn {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    height: 3em;
}

svg {
    padding: 0;
    margin: 0;
}

.form-btns {
    background-color: transparent;
    color: rgb(62, 62, 62);
    border: 3px solid rgb(62, 62, 62);
    border-radius: 5px;
    padding: 4px;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
}


.form-btns:hover {
    background-color: black;
    color: white;
}

/* RENDER POSTS BOX */

#render-posts {
    margin: 0;
    padding: 0;
}

.posts-box {
    margin: 1rem 0;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.8);
    background-color: rgb(255, 183, 40);
    border-radius: 8px;
}

.bodyPostBox {
    margin: 1rem 0;
    padding: 2rem;
}

.footerPostBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
    height: 100px;
    background-color: rgb(62, 62, 62);
}

.post-btns {
    display: flex;
    justify-content: space-between;
  
    border-radius: 30px;
    height: 50px;
   

}

.post-icons {
    cursor: pointer;
    gap: 10px;
}

.post-icons:hover {
    transition: 0.2s;
    font-size: 17px;
}

.post-btns-comment:hover {
    transition: 0.2;
    text-decoration: underline;
    text-shadow: 1px 1px #948989;
}

.post-btns-comment {
    cursor: pointer;
    color: whitesmoke;
}

.post-btns-icons {
    display: flex;
    justify-items: center;
    gap: 1.1rem;
}





.giphy-img {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.8);
}


/* MODAL GIPHYS */

.submit_search_input {
    position: absolute;
    top: 3.2rem;
    right: 1.6rem;
    background-color: transparent;
    color: rgb(78, 85, 117);
    border: 2px solid rgb(194, 195, 212);
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
}

.submit_search_input:hover {
    background-color: rgb(51, 44, 82);
    color: white;
}

.giphysgrid {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: auto auto auto;
    justify-items: center;
    width: fit-content;
}

.giphy-btns {
    background-color: transparent;
    color: whitesmoke;
    border: 3px solid whitesmoke;
    border-radius: 5px;
    padding: 4px;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
}


.giphy-btns:hover {
    background-color: rgb(51, 44, 82);
    color: white;
}

/* COMMENT BOXES */

.renderedCommentsSession {
    padding: 4px;
}

.commentsBoxes {
  
    color: white;
    margin-bottom: 12px;
    padding: 12px;
    border: 2px solid black;
    border-radius: 16px;
    background-color: rgb(102, 105, 96);
}

.commentTitle {
    margin: 0;
}

.commentDate {
    font-size: small;
    margin: 0;
}

.commentBtnPost {
    display: flex;
    justify-content: flex-end;
}

.commentBtnPost:hover {
    transition: 0.3s;
    text-shadow: 1px 1px #948989;
    font-weight: bolder;
    text-decoration: underline;
}

/* POPULAR FEATURED BOX */

.popular-featured-links ul li {
   list-style: none;
}

.popular-featured-links li {
    margin: 1rem 0;
}


footer {
    position: fixed;
    bottom: 0;
    width: 81%;
    background-color: black;
    color: white;
    text-align: center;
}
