html,
body {
    margin: 0;
    /* padding: 5px; */
    box-sizing: border-box;
}

header {
    margin: 2% 3%;
    text-align: center;
    height: fit-content;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 15px;
}

header img {
    width: 100%;
    height: 85%;
    padding: 0;
    margin: 0;
    border-radius: 15px;
}

.container {
    margin: 2% 3%;
}

.content {
    display: grid;
    margin: 2% 3%;
    grid-template-columns: 60% 40%;
    padding: 0;
}

section {
    padding: 0;
    margin: 0;
}

aside {
    background-color: rgb(62, 62, 62);
    color: whitesmoke;
    padding: 3rem;
    margin: 0 1rem;
    margin-right: 0;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.8);
    height: 700px;
    position: -webkit-sticky; 
    position: sticky; 
    top: 6px; 
    border-radius: 15px;

}

/* FORM STYLES */

.right-box {
    background-color: rgb(255, 183, 40);
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    min-height: 0px;
    min-width: 0px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    position: relative;
    z-index: 0;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.8);
    border-radius: 15px;
}

.posts {
    margin-top: 20px;
    margin: 0;
}

.form-box {
    padding: 2px;
   
}

.form-box-inputs {
    margin: 10px;
    
}
#post-context{
    margin-top: 15px;
}

.form-box-inputs input {
    height: 2.3rem;
  
}

.form-box-inputs input,
textarea {
    margin: 3px 0;
    width: 100%;
    border: 3px solid black;
    border-radius: 18px;
    border-style: none;
    
   
}
#post-context:focus-visible {
    border: none !important;
    outline: none;
}
[type="text"]:focus-visible {
    border: none !important;
    outline: none;
}
.form-box-inputs input:hover,
textarea:hover {
    border: 3px solid rgb(255, 183, 40);
    transition-duration: 0.4s;
}

.form-box-btns {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
}

.giphy-btn {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    height: 3em;
}

svg {
    padding: 0;
    margin: 0;
}

.form-btns {
    background-color: transparent;
    color: black;
    border: 3px solid black;
    border-radius: 5px;
    padding: 4px;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
}


.form-btns:hover {
    background-color: black;
    color: white;
}

/* RENDER POSTS BOX */

#render-posts {
    margin: 0;
    padding: 0;
}

.posts-box {
    margin: 1rem 0;
    padding: 12px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.8);
    background-color: rgb(255, 183, 40);
}

.post-btns {
    display: flex;
    justify-content: space-between;
    margin-right: 3px;

}

.post-icons {
    cursor: pointer;
    gap: 10px;
}

.post-icons:hover {
    transition: 0.2s;
    font-size: 17px;
}

.post-btns-comment:hover {
    text-decoration: underline;
}

.post-btns-comment {
    cursor: pointer;
}

.post-btns-icons {
    display: flex;
    justify-items: center;
}



#render_giphy>img {
 
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.8);
}


/* MODAL GIPHYS */

.submit_search_input {
    position: absolute;
    top: 3.2rem;
    right: 1.6rem;
    background-color: transparent;
    color: rgb(78, 85, 117);
    border: 2px solid rgb(194, 195, 212);
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
}

.submit_search_input:hover {
    background-color: rgb(51, 44, 82);
    color: white;
}

.giphysgrid {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: auto auto auto;
    justify-items: center;
    width: fit-content;
}

.giphy-btns {
    background-color: transparent;
    color: whitesmoke;
    border: 3px solid whitesmoke;
    border-radius: 5px;
    padding: 4px;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
}


.giphy-btns:hover {
    background-color: rgb(51, 44, 82);
    color: white;
}


footer {
    position: fixed;
    bottom: 0;
    width: 81%;
    background-color: black;
    color: white;
    text-align: center;
}
